<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic}">


    <div layout:fragment="content" class="m-3 p-3">

        <!-- register -->
        <div class="row mt-3">

            <div class="col">

                <div class="card">
                    <h5 class="card-header">상품페이지</h5>
                    <div class="card-body">

                        <!-- board register content -->



                    </div>
                </div>

            </div>            

        </div>

        <!-- 모달창 -->
        <div></div>

    </div>




    <script layout:fragment="script"    th:inline="javascript">


    </script>
    <style  layout:fragment="css"       th:inline="css">
        .reset {
            margin-left: 0.2em;
        }
    </style>
</html>