<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      xmlns:sec="http//www.thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Local방식으로 연결하기 -->
    <link href="../../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"  rel="stylesheet" >
    <script src="../../static/bootstrap/js/bootstrap.bundle.min.js"
            th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>


<!-- CDM 방식으로 연결하기  -->

    <link href="css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <!-- 스타일시트 플래그먼트 가져오기-->
    <th:block layout:fragment="css"></th:block>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/board/list}">게시판</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Shortcuts</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a class="nav-link" href="/admin/item/new">상품등록</a></li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a class="nav-link" href="/admin/item/items">상품관리</a></li>

                        <li class="nav-item active" sec:authorize="isAuthenticated()"><a class="nav-link" href="/cart">장바구니</a></li>
                        <li class="nav-item" sec:authorize="isAuthenticated()" ><a class="nav-link" href="/orders">구매이력스껄</a></li>

                        <li class="nav-item active" sec:authorize="isAnonymous()" > <a class="nav-link" href="/members/login">로그인</a></li>


                        <li class="nav-item" sec:authorize="isAuthenticated()" > <a class="nav-link" href="/members/logout">로그아웃레스고</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#!">Action</a>
                                <a class="dropdown-item" href="#!">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#!">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            <li class="nav-item" sec:authorize="isAuthenticated()"><span>[[${#authentication.principal.username}]] 접속중</span> </li>

        </div>

        <!-- Page content-->
        <div class="container-fluid"  layout:fragment="content">
            <!-- 페이지별 콘텐츠 -->
        </div>
        <!-- Page content end -->


    </div>
</div>

<!-- 푸터영역 -->
<div th:replace="fragments/footer::footer"></div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
    th:src="@{https://code.jquery.com/jquery-3.7.0.min.js}"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
    crossorigin="anonymous"></script>
<script th:src="@{/js/scripts.js}"
        src="../../static/js/scripts.js">
</script>


<!-- 자바스크립트 플래그먼트 가져오기-->
<th:block layout:fragment="script"></th:block>

</body>

</html>