<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout2}">


<div layout:fragment="content" class="m-3 p-3">

    <!-- register -->
    <div class=" mt-3">

        <div class="w-100">

            <div class="card">
                <h5 class="card-header">영화 리뷰상세 페이지</h5>
                <div class="card-body">

                    <h5 class="card-title">영화 리뷰</h5>

                    <!-- board register content -->
                    <form action="/board/register" method="post">
                        <div class="input-group mb-3">
                            <label for="revid" class="input-group-text">리뷰 번호</label>
                            <input type="text" name="revid"  th:value="${movieRev.revid}" class="form-control" id="revid" placeholder="번호" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <label for="title" class="input-group-text">리뷰 제목</label>
                            <input type="text" name="title"  th:value="${movieRev.revTitle}" class="form-control" id="title" placeholder="댓글제목" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <label for="content" class="input-group-text">리뷰 내용</label>
                            <textarea class="form-control" th:value="${movieRev.revContent}" name="content" id="content" rows="5" readonly>[[${movieRev.revContent}]]</textarea>
                        </div>
                        <div class="input-group mb-3">
                            <label for="writer" class="input-group-text">작성자</label>
                            <input type="text" name="writer" readonly
                                   class="form-control" id="writer" th:value="${movieRev.users.name}" placeholder="작성자">
                        </div>
                        <div class="input-group mb-3">
                            <label for="star" class="input-group-text">평점</label>
                            <input type="number" name="writer" readonly
                                   class="form-control" id="star" th:value="${movieRev.star}" placeholder="평점" >
                        </div>
                         <div class="my-4" th:with="user=${#authentication.principal}">
                        <div class="d-flex justify-content-end" >
                            <a  class="text-decoration-none">
                                <button type="button" class="btn btn-primary">List</button>
                            </a>
                            <!-- 로그인 상태일 경우만 수정버튼 활성화 -->
                            <a  th:if="${user != null && user.username == movieRev.users.name}"
                                class="text-decoration-none">
                                <button type="button"  class="btn btn-secondary modify" data-bs-toggle="modal" data-bs-target="#exampleModal">삭제</button>
                            </a>
                        </div>
                    </div>
                    </form>


                </div>
            </div>

        </div>

    </div>

    <!-- 모달창 -->
    <div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        삭제 하시겠습니까??
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="removeBtn">삭제</button>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>




<script layout:fragment="script"    th:inline="javascript">
    $(function(){
        $('#removeBtn').click(function(){
           var commentid = $('#commentid').val()
            var paramData = {
                revid : $("#revid").val(),
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : "/movieRev/remove",
                type     : "POST",
                contentType : "application/json",
                data     : param,
                dataType : "json",
                cache   : false,
                success  : function(result){
                    alert(result+"번 댓글 삭제 완료 되었습니다.");
                    location.href='/main';
                },
                error : function(){

                }
            });



        })


    })



       const errors = [[${errors}]]
       console.log(errors)

       let errorMsg = ''

       if (errors) {
            for (let i=0; i<errors.length; i++){
                errorMsg += `${errors[i].field}은(는) ${errors[i]} \n`
            }
       }
       //alert(errorMsg)

    </script>
<style  layout:fragment="css"       th:inline="css">
        .reset {
            margin-left: 0.2em;
        }
    </style>
</html>