<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">-->
<!--    <script tsrc="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">-->

    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script th:tsrc="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css}">


</head>
<body>
    <div class="container">
    <h1 >상품 리스트 출력 테스트 ex03 </h1>
   </div>
   
    <hr>
   <div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">순번</th>
            <th scope="col">상품명</th>
            <th scope="col">상품 설명 </th>
            <th scope="col">상품 가격</th>
              <th scope="col">상품 등록일</th>
          </tr>
        </thead>
        <tbody>

        <tr th:each=" itemDTO, status : ${itemDTOList}">
           <div th:object="${itemDTO}">
            <th scope="row" th:text="${status.index}">1</th>
            <td th:text="*{itemNm}">Mark</td>
            <td th:text="*{itemDetail}">Otto</td>
<!--               <td th:text="*{price}">@mdo</td>-->
               <td th:text="|${#numbers.formatInteger(itemDTO.price, 0, 'COMMA')}원|">@mdo</td>
<!--            <td th:text="*{regTime}">@mdo</td>-->
               <td th:text="${#temporals.format(itemDTO.regTime,'yyyy-MM-dd ')}">@mdo</td>

            </div>
        </tr>
          
        </tbody>
      </table>

   </div>



    <div class="container">
        [[${itemDTOList}]]

    </div>

    <hr>







</body>
</html>